{% extends 'base.html'  %}

{% block content %}
    {% load static %}
    <div class="aside_container">


        <!-- ======================= Cards ================== -->
        <div class="main">
            <div id="myModal_details2" class="modal">
                <div class="modal-content">
                    <span class="close">&times;</span>
                    <p>
                        <strong>{{elections}}</strong><br><br>
                        <strong>Start at:</strong>{{elections_start}}<br>
                        <strong>Ends at:</strong>{{elections_ends}}
                    </p><br>
                    <div class="add_candidate">
                        <form method="POST" class="form-control">
                            {% csrf_token %}
                            {{candidate_form.as_p}}
                            <button  class="btn btn-primary">Add Candidate</button>
                        </form>
                    </div>
                    <!--<form method="post">
                        {% csrf_token %}
                        {{ event_form.as_p }}
                        <button type="submit">Add Event</button>
                    </form>-->


                </div>
            </div>
            <div id="myModal_details3" class="modal">
                <div class="modal-content">
                    <span class="close">&times;</span>
                    <div class="row_container">
                        <div class="info_div">
                            <p>
                            <strong>{{elections}}</strong><br><br>
                            <strong>Start at:</strong>{{elections_start}}<br>
                            <strong>Ends at:</strong>{{elections_ends}}
                        </p>
                        </div>
                        <div class="btn_div">
                            {%for portfolio  in portfolios %}
                            <a href="{% url 'portfolio' portfolio.id %}"><button class="btn btn-primary shadow">
                                    {{portfolio.name_of_portfolio}}
                                </button></a>
                            {% endfor %}
                        </div>


                    </div>

                </div>
            </div>
        </div>
    </div>


    <div class="details2">
        {% if messages %}
            {% for message in messages %}
                <div class="alert fade_away_" role="alert" id="fade_away">
                    <strong class="dark">Alert!:    </strong>
                    <h5 class="dark">{{message}}</h5>
                    <span class="material-symbols-outlined" id="close-btn">close</span>
                </div>
            {% endfor %}
        {% endif %}
        {% for portfolio in portfolios %}

        <div class="recentOrders">
          <div class="cardHeader">
            <h2 class="station">{{ portfolio.name_of_portfolio }}</h2>
            <div class="search_container station">
              <form method="GET" action="">
                <input type="text" name="search2" id="search2" class="input_cust" placeholder="Search Candidate">
                <button class="material-symbols-outlined search_icon">search</button>
              </form>
            </div>
          </div>
            <form method="POST" action="{% url 'Voting' %}">
                {% csrf_token %}
                <table>
                    <thead class="sticky-header">
                        <tr>
                            <td>Candidate's Name</td>
                            <td>Candidate Number</td>
                            <td>Election Name</td>
                            <td>Portfolio</td>
                            <td>Actions</td>
                        </tr>
                    </thead>
                    <tbody class="portfolio-table-body">
                        {% for candidate in portfolio.candidate_set.all %}
                            <tr class="each-row">
                                <td >
                                    <img src="{{candidate.image.url}}" class="table_img" alt="">{{ candidate.name }}
                                </td>
                                <td>{{ candidate.Candidate_Number }}</td>
                                <td>{{ candidate.election }}</td>
                                <td>{{ candidate.position.name_of_portfolio }}</td>
                                <td>
                                    <div class="action_btn">
                                        <label>
                                            <input type="checkbox" class="vote-checkbox" name="votes" value="{{ candidate.id }}|{{ candidate.Candidate_Number }}|{{ candidate.position }}|{{ candidate.election }}" onclick="handleCheckboxClick(this)">
                                            Voted
                                        </label>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <button class="btn btn-primary station" type="submit">Submit Votes</button>
            </form>


        </div>
      {% endfor %}

    </div>
    <script>
        function handleCheckboxClick(checkbox) {
            var table = checkbox.closest('.recentOrders');
            var checkboxes = table.querySelectorAll('.vote-checkbox');
            for (var i = 0; i < checkboxes.length; i++) {
                if (checkboxes[i] !== checkbox) {
                    checkboxes[i].checked = false; // Uncheck other checkboxes in the same table
                }
            }
        }
    </script>




{% endblock %}